@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@700&family=Roboto:ital@0;1&display=swap");

:root {
    --header-height: 4rem;
    --footer-height: 2rem;
    --layout-padding: 0.5rem;
    --main-height: calc(100vh - var(--footer-height));
    --dark-grey: #333;
    --med-dark-grey: #6a6a6a;
    --med-grey: #989898;
    --light-grey: #d6d6d6;
    --dark-yellow: #97750b;
    --med-yellow: #f2c94c;
    --light-yellow: #fcefca;
    --blue: #035763;
}

.dark-grey {
    color: var(--dark-grey) !important;
}

.med-dark-grey {
    color: var(--med-dark-grey);
}

.med-grey {
    color: var(--med-grey) !important;
}

.light-grey {
    color: var(--light-grey) !important;
}

.dark-yellow {
    color: var(--dark-yellow);
}

.med-yellow {
    color: var(--med-yellow);
}

.light-yellow {
    color: var(--light-yellow);
}

.blue {
    color: var(--blue);
}

* {
    padding: 0px;
    margin: 0px;
    color: var(--dark-grey);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 125% */
}

a {
    color: var(--blue);
    font-size: 0.875rem;
    text-decoration-line: underline;
}

i {
    color: inherit;
    font-size: 1rem;
    font-style: normal;
    padding: 0rem 0.5rem;
}

title {
    font-family: "Assistant", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
}

header {
    position: fixed;
    width: 100vw;
    height: var(--header-height);
    min-height: var(--header-height);
    z-index: 99;
    filter: none;
}

main {
    position: relative;
    width: 100vw;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: calc(var(--header-height) + var(--layout-padding));
    padding-bottom: var(--layout-padding);
    min-height: var(--main-height);
}

.footer {
    align-items: center;
    height: var(--footer-height);
    min-height: var(--footer-height);
}

footer {
    position: absolute;
    width: 100vw;
}

.logo {
    padding: 0rem 0rem;
    height: 2.5rem;
}

.navbar {
    padding: 0.5rem;
    width: 100vw;
}

.navbar-collapse {
    justify-content: end;
}

.nav-item {
    margin-right: 0rem;
}

.navbar-brand {
    margin: 0px;
}

th {
    font-size: inherit;
    text-transform: capitalize;
}

th,
td {
    padding: 0.5rem !important;
}

input,
.form-select,
.react-datetime-picker__wrapper,
.form-control,
.form-label {
    margin: 0.3rem;
    padding: 0.3rem;
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    margin-inline-end: 0.3rem;
}

.react-datetime-picker,
.react-datetime-picker__wrapper {
    border: 0px;
    background-color: transparent;
}

.formTable {
    border: 3px solid #f7f7f9 !important;
    border-radius: 5%;
    width: fit-content;
}

.doctorSearchResult {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.checkboxesGroup {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
}

.doctorSmallCard {
    background-color: white;
    box-sizing: content-box;
    display: inline-flex;
    align-items: flex-start;
    border-radius: 0.25rem;
    gap: 1rem;
    height: 8.875rem;
    width: 26rem; /* TODO: change? */
    cursor: pointer;
}
.doctorSmallCard:hover {
    box-shadow: var(--blue) 0 0 0 1px;
}
.doctorSmallCard:active {
    box-shadow: var(--blue) 0 0 0 2px;
}
.doctorSmallCardImg {
    width: 7.125rem;
    height: 8.875rem;
    border-radius: 0.25rem 0 0 0.25rem;
    object-fit: cover;
}
.doctorSmallCardData {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 0.5rem 0.5rem 0rem;
    width: 100%;
    height: 100%;
}
.doctorSmallCardData p {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 125% */
    margin-bottom: 0;
}
.doctorSmallCardData a {
    color: inherit;
    text-decoration: none;
}
.doctorSmallCardData a:hover {
    text-decoration: underline;
}
.doctorSmallCardDataAddress {
    /* is there a better way to limit height of the text?*/
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
.bookmarkRibbon {
    padding-left: 0.25rem;
    padding-right: 2rem;
    width: 140px;
    height: 21px;
    background: var(--med-yellow);
    clip-path: polygon(
        0% 0%,
        100% 0%,
        calc(100% - 11px) 50%,
        100% 100%,
        0% 100%
    );
}
.verification img {
    filter: grayscale(100%);
}
.verification img:hover {
    filter: grayscale(0%);
}

.doctorBigCard div {
    position: fixed;
    background-color: plum; /* TODO: delete */
    max-width: 60%;
}

.map {
    position: relative;
    min-height: calc(100vh - 10rem);
    height: calc(100vh - 10rem);
    z-index: 1;
}

.aboveMap {
    position: relative;
    bottom: 70px;
    right: 20px;
    z-index: 2;
    text-align: end;
}

.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-tc {
    top: -25px;
}

.pac-container {
    position: fixed;
    z-index: 30;
}

.modal {
    z-index: 20;
}

.modal-dialog {
    max-width: 80%;
}

.modal-backdrop {
    z-index: 10;
}

*:has(.modal.show) main {
    filter: blur(3px);
}

.col-sm-2,
.col-sm-3 {
    display: flex;
    align-items: center;
}

.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.paginationButton,
.paginationText {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    font-size: 0.6875rem;
    border: 0px;
    border-radius: 0.125rem;
    background: transparent;
}

.paginationText {
    width: max-content;
}

.paginationButton:hover {
    border: 1px solid var(--grey-grey-300, #989898);
}

.paginationButton:disabled {
    border: 0px;
}

.paginationButton.selected {
    border: 0.75px solid var(--grey-grey-300, #989898);
    background: var(--yellow-y-300, #f6db87);
}

.btn {
    display: inline-flex;
    padding: 0.375rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: var(--dark-grey);
    border: 1.25px solid;
    border-radius: 0.25rem;
    text-transform: none;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

.btn-primary {
    background: var(--med-yellow);
    border-color: var(--med-yellow);
}

.btn-secondary {
    background: white;
    border-color: var(--med-yellow);
}

.btn-primary:hover,
.btn-secondary:hover {
    color: var(--dark-grey);
    background: var(--light-yellow);
    border-color: var(--dark-yellow);
}

.btn-primary:disabled {
    color: var(--med-grey);
    background: var(--light-grey);
    border-color: var(--light-grey);
}

.btn-secondary:disabled {
    color: var(--med-grey);
    background: white;
    border-color: var(--med-grey);
}

.notes {
    color: var(--med-dark-grey);
    font-style: italic;
}

.inheritTextStyle {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.bold {
    color: black;
    text-align: center;
    font-family: "Assistant", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
}

.alert {
    width: fit-content;
    border-radius: 0.625rem;
    border: 2px solid;
}

.alert-danger {
    border-color: #cf4e31;
    background-color: #fde6e1;
    padding: 6rem;
}

.transparent,
.transparent .modal-content {
    background-color: transparent;
    border-color: transparent;
}

.big-filter input {
    border: 4px solid;
    border-color: var(--blue);
    border-radius: 3.125rem;
    line-height: 1.25rem;
    padding: 1rem;
    width: 70vw;
}
