@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&family=Poppins:wght@400;500;700&family=Roboto:ital@0;1&display=swap');

:root {
    --logo-height: 4rem;
    --header-height: calc(var(--logo-height) + var(--layout-padding));
    --footer-height: 2rem;
    --layout-padding: 0.5rem;
    --main-height: calc(100vh - var(--footer-height));
    --dark-grey: #333;
    --med-dark-grey: #6A6A6A;
    --med-grey: #989898;
    --light-grey: #D6D6D6;
    --dark-yellow: #97750B;
    --med-yellow: #F2C94C;
    --med-light-yellow: #F6DB87;
    --light-yellow: #FCEFCA;
    --blue: #035763;
    
}

* {
    padding: 0px;
    margin: 0px;
    color: var(--dark-grey);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 125% */
    
}

a {
    color: var(--blue);
    font-size: 0.875rem;
    text-decoration-line: underline;
}

i {
    color: inherit;
    font-size: 1rem;
    font-style: normal;
    padding: 0rem 0.5rem;
}

.title {
    font-family: 'Assistant', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem; 
}

header {
    position: fixed;
    width: 100vw;
    height: var(--header-height);
    min-height: var(--header-height);
    z-index: 99;
    filter: none;
}

main {
    position: relative;
    width: 100vw;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: calc(var(--header-height) + var(--layout-padding));
    padding-bottom: var(--layout-padding);
    min-height: var(--main-height);
}

.footer {
    align-items: center;
    height: var(--footer-height);
    min-height: var(--footer-height);
}

footer {
    position:absolute;
    width: 100vw;
}

.logo {
    padding: 0rem 0rem;
    height: var(--logo-height);
}

.navbar {
    background-color: white;
    padding: 0.5rem;
    width: 100vw;
    text-transform: none;
}

.navbar-nav {
    gap: 3.625rem
}

.navbar-collapse {
    justify-content: end;
}

.nav-item {
    margin-right: 0rem;
}

.nav-link  {
    color: var(--blue) !important;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.25rem;
}

.dropdown-item {
    color: var(--blue) !important;
    font-family: "Poppins";
}

.nav-link:hover,
.dropdown-item:hover {
    text-decoration: underline;
}

.nav-link.active {
    font-weight: 700;
    text-decoration: underline;
}

.dropdown-menu {
    border-color: var(--blue);
}

.dropdown-item.active,
.dropdown-item:focus {
    color: white !important;
    background-color: var(--blue) !important;
}

.dropdown-toggle::after {
    border: none !important;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f107" !important;
    vertical-align: 0;
  }

.navbar-brand {
    margin: 0px;
}

th {
    font-size: inherit;
    text-transform: capitalize;
}

th,
td {
    padding: 0.5rem !important;
}

input,
.form-select,
.react-datetime-picker__wrapper,
.form-control,
.form-label {
    margin: 0.3rem;
    padding: 0.3rem;
}


input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    margin-inline-end: 0.3rem;
}

.react-datetime-picker,
.react-datetime-picker__wrapper {
    border: 0px;
    background-color: transparent;
}

.formTable {    
    border:  3px solid #f7f7f9  !important;
    border-radius: 5%;
    width:fit-content;    
}

.doctorSearchResult {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.checkboxesGroup {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
}

.doctorSmallCard {
    background-color: mediumaquamarine; /* TODO: delete */
    width: 13rem; /* TODO: change? */
}

.doctorBigCard div {
    position:fixed;
    background-color: plum; /* TODO: delete */
    max-width: 60%;
}

.map {
    position: relative;
    min-height: calc(100vh - 10rem);
    height: calc(100vh - 10rem);
    z-index: 1; 
}

.aboveMap {
    position: relative;
    bottom: 70px;
    right: 20px;
    z-index: 2;
    text-align: end;
}

.gm-style .gm-style-iw-c, 
.gm-style .gm-style-iw-tc {
    top: -25px;
}

.pac-container {
    position: fixed;
    z-index: 30;
}

.modal {
    z-index: 20;   
}

.modal-dialog {
    max-width: 80%;
}

.modal-backdrop {
    z-index: 10;    
}

*:has(.modal.show) main {
    filter: blur(3px);
}

*:has(.doctorBigCard) main {
    filter: none;
}

.col-sm-2,
.col-sm-3 {
    display: flex;
    align-items: center;
}

.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.paginationButton,
.paginationText {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    font-size: 0.6875rem;
    border: 0px;
    border-radius: 0.125rem;
    background: transparent;
}

.paginationText {
    width: max-content;
}

.paginationButton:hover {
    border: 1px solid var(--med-grey);
}

.paginationButton:disabled {
    border: 0px;
}

.paginationButton.selected {
    border: 0.75px solid var(--med-grey);
    background: var(--med-light-yellow);
}

.btn {
    display: inline-flex;
    padding: 0.375rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: var(--dark-grey);
    border: 1.25px solid;
    border-radius: 0.25rem;
    text-transform: none;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 
}

.btn-primary {
    background: var(--med-yellow);
    border-color: var(--med-yellow);
}

.btn-secondary {
    background: white;
    border-color: var(--med-yellow);
}

.btn-primary:hover,
.btn-secondary:hover {
    color: var(--dark-grey);
    background: var(--light-yellow);
    border-color: var(--dark-yellow);
}

.btn-primary:disabled {
    color: var(--med-grey);
    background: var(--light-grey);
    border-color: var(--light-grey);
}

.btn-secondary:disabled {
    color: var(--med-grey);
    background: white;
    border-color: var(--med-grey);
}

.notes {
    color: var(--med-dark-grey);
    font-style: italic;
}

.inheritTextStyle {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.bold {
    color: black;
    text-align: center;
    font-family: 'Assistant', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
}

.alert {
    width: fit-content;
    border-radius: 0.625rem;
    border: 2px solid;
}

.alert-danger {
    border-color: #CF4E31;
    background-color: #FDE6E1;
    padding: 6rem;
}

.transparent,
.transparent .modal-content {
    background-color: transparent;
    border-color: transparent;
}

.big-filter input {
    border: 4px solid;
    border-color: var(--blue);
    border-radius: 3.125rem;
    line-height: 1.25rem;
    padding: 1rem;
    width: 75vw; 
    /* TODO: fix "use my location" positioning */
}